.ne{
    display: none;
}
.bk{
display:block;
}
body{
    margin:0;
    padding:0;
    background-color: blueviolet;

}

div{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);

}
.fa-regular{
    font-size: 15em;
    cursor: pointer;
    color: rgb(240, 190, 190);
    
}